[Desktop Entry]
Type=Application
Name=PE-bear
GenericName=Portable Executable reversing tool
Categories=Development;Utility;
Comment=Portable Executable reversing tool with a friendly GUI
Icon=net.hasherezade.pe-bear
Exec=PE-bear %F
Terminal=false
MimeType=application/vnd.microsoft.portable-executable;application/x-msdownload;

